<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 header">
                    <label>Categories</label>
                    <span (click)="openFormModal()"><i class="fas fa-plus-circle" ></i></span>
                </div>
            </div>
        </div>
        <div class="row category">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col" class="w100 c">Action</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="searchModel.rows.length > 0 && !loading">
                    <tr *ngFor="let row of searchModel.rows">
                        <td [ngClass]="row.parent_id != null ? 'pl-5':''">{{row.name}}</td>
                        <td>
                            <div class="div-btn-action">
                                <button *ngIf="row.parent_id == null"  type="button" (click)="openFormModal(null,row.id)"><i class="fas fa-plus"></i></button>
                                <button type="button" (click)="openFormModal(row)"><i class="fas fa-pen"></i></button>
                                <button type="button" (click)="remove(row)" ><i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody *ngIf="searchModel.rows.length == 0 && !loading">
                    <tr>
                        <td colspan="2">No Record . . .</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<app-category-form #rowForm="formModalEX" (afterSaved)="afterModalSaved($event)"></app-category-form>

