<div class="content-wrapper">
    <header>
        <div class="xcontainer">
            <div class="category-header">
                <div class="header-title">
                    <h4>Categories</h4>
                </div>
                <div>
                    <button class="btn btn-primary" (click)="openFormModal()"><i class="fas fa-plus-circle"></i> Category</button>
                </div>
            </div>
        </div>
    </header>

    <section class="section-category">
        <div class="xcontainer">
            <div class="category-container">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of searchModel.rows, let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{row.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>


</div>

<app-category-form #rowForm="formModalEX" (afterSaved)="afterModalSaved($event)"></app-category-form>

