$green: #2eb494;
$blue-color: #2a68d3;
$white: #fff;

.vHide{ display: none !important; }

.w100{ width: 100px;}

.c{ text-align: center;}

.vh100-60{
  height: calc(100vh - 60px) !important;
}
.pl-3{ margin-right: 50px}

.iRed{color: #fc1500;}
.iGreen{color: #0cab02;}

.green {
  background-color: #4caf50;
  color: rgba(255,255,255,.87);
}
.red {
  background-color: #ff1a00;
  color: rgba(255,255,255,.87);
}

.bgE8E8E8{background-color: #e8e8e8 !important;}
.bgFFF{background-color: #fff !important;}


