@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap');

*{
  font-family: 'Mulish', sans-serif;
  letter-spacing: 1.5px;
  font-size: 14px;
}

body {
  height: 100%;
  min-height: 100%;
}


@import 'common','app','login';

// MAIN SYSTEM
.main{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
}

//HEADER SYSTEM
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  height: 60px;
  box-shadow: 0 -4px 7px black;
  z-index: 1;
  .header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    background-color: $blue-color;
    img{
      width: 50px;
    }
  }
  .header-menu{
    margin-left: 20px;
    width: 100% !important;
    ul{
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      li{
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        &.active{
          height: 60px;
          color: $blue-color;
          font-weight: 400;
          border-bottom: 2px solid $blue-color;
        }
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  .header-profile{
    width: 200px;
    img{
      width: 35px;
    }
    span{
      font-size: 1rem;
      margin-left: 0.5rem;
    }
    .span-logout{
      font-size: 0.8rem;
      cursor: pointer;
    }
  }
}

//CONTENT SYSTEM
.content{

}
