
<div bsModal class="modal fade" #formModal="bs-modal">
    <div class="modal-dialog">
        <form #popupForm="ngForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">My Wellet</h5>
                    <button type="button" class="btn-close" (click)="cancel()"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3 mb-3 p-0">
                        <div class="col-md-6" [ngClass]="{'has-error' : !type.valid && !type.pristine}">
                            <label for="selectWalletType" class="form-label">Type <span class="iRed">*</span></label>
                            <select #type="ngModel" [(ngModel)]="row.type" name="type" class="form-select" id="selectWalletType" required>
                                <option *ngFor="let wellet of walletType" [value]="wellet.code">{{wellet.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-6" [ngClass]="{'has-error' : !name.valid && !name.pristine}">
                            <label class="form-label">Name <span class="iRed">*</span></label>
                            <input #name="ngModel" [(ngModel)]="row.name" name="name" type="text" class="form-control" minlength="2" maxlength="200" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea  [(ngModel)]="row.description" name="description" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="cancel()" class="btn btn-cancel">Close</button>
                    <button type="button" (click)="save()" [disabled]="!popupForm.valid || submitting" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

