<div class="loading vh100-60"  *ngIf="loading">
    <div class="spinner"></div>
    <span class="spinner-text">Loading . . .</span>
</div>
<div class="panel vh100-60" >
    <div class="panel-left">
        <div class="wellet">
            <div (click)="openFormModal()">
                <i class="fas fa-plus-circle"></i>
                <span>WALLET</span>
            </div>
        </div>
        <div class="menu"  *ngIf="!loading && walletList.length > 0">
            <ul>
                <li *ngFor="let row of walletList" [ngClass]="currentMenu === intVal(row.id) ? 'active':''" (click)="showPanel('transactionList', row)">
                    <a>{{row.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-right bgFFF">
        <div [ngClass]="currentPanel==='transactionList'?'d-block':'d-none'">
            <transactionList></transactionList>
        </div>
    </div>
</div>

<app-wallet-form #walletFormModalCom="walletFormModalEX" (afterSaved)="afterWalletModalSaved($event)"></app-wallet-form>

