<div class="loading vh100-60"  *ngIf="loading">
    <div class="spinner"></div>
    <span class="spinner-text">Loading . . .</span>
</div>
<div class="panel vh100-60" >
    <div class="panel-left">
        <div class="wellet">
            <div (click)="openFormModal()">
                <i class="fas fa-plus-circle"></i>
                <span>WALLET</span>
            </div>
        </div>
        <div class="menu" *ngIf="!loading && walletList.length > 0">
            <ul>
                <ng-container *ngFor="let row of walletList">
                    <li [ngClass]="currentMenu === intVal(row.id) ? 'active':''">
                        <a (click)="showPanel('transactionList', row)">{{row.name}}</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
    <div class="panel-right bgFFF">
        <div [ngClass]="currentPanel=='transactionList'?'d-block':'d-none'">
            <transactionList></transactionList>
        </div>
    </div>
</div>

<app-wallet-form #walletFormModalCom="walletFormModalEX" (afterSaved)="afterWalletModalSaved($event)"></app-wallet-form>

