
<div class="panel vh100-60">
    <div class="panel-left border-right">
       <!-- <div>
            <label>My Wellets</label>
            <span (click)="openFormModal()"><i class="fas fa-plus-circle" ></i></span>
        </div>-->
        <div *ngIf="!loading && searchModel.rows.length > 0">
            <div class="mt-3 ml-3 p-2" *ngFor="let row of searchModel.rows">
                <a (click)="showPanel('transactionList', row)">{{row.name}}</a>
            </div>
        </div>
    </div>
    <div class="panel-right bgFFF">
        <div [ngClass]="currentPanel=='transactionList'?'d-block':'d-none'">
            <transactionList (back)="backToWelletList()"></transactionList>
        </div>
    </div>
</div>

<app-wellet-form #rowForm="formModalEX" (afterSaved)="afterModalSaved($event)"></app-wellet-form>

