<div class="loading vh100-60"  *ngIf="loading">
    <div class="spinner"></div>
    <span class="spinner-text">Loading . . .</span>
</div>
<div class="panel vh100-60" >
    <div class="panel-left">
        <div>
            Add wellet
        </div>
        <div class="menu" *ngIf="!loading && searchModel.rows.length > 0">
            <ul>
                <ng-container *ngFor="let row of searchModel.rows">
                    <li [ngClass]="currentMenu === intVal(row.id) ? 'active':''">
                        <a (click)="showPanel('transactionList', row)">{{row.name}}</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
    <div class="panel-right bgFFF">
        <div [ngClass]="currentPanel=='transactionList'?'d-block':'d-none'">
            <transactionList></transactionList>
        </div>
    </div>
</div>

<app-wellet-form #rowForm="formModalEX" (afterSaved)="afterModalSaved($event)"></app-wellet-form>

