<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Wellet</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <button class="btn btn-primary" (click)="openFormModal()"><i class="fas fa-plus-circle"></i> wellet</button>
                    </ol>
                </div><!-- /.col -->
            </div>
        </div>
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Quick Example</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <ul *ngFor="let row of searchModel.rows">
                                        <li>{{row.name}}</li>
                                    </ul>
                                </div>
                                <!--transactions -->
                                <div class="col-md-9">
                                    <app-wellet-form *ngIf="isAddWellet"></app-wellet-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

    <app-wellet-form #rowForm="formModalEX" (afterSaved)="afterModalSaved($event)" ></app-wellet-form>
</div>
