<div class="content-wrapper" [ngClass]="currentPanel=='transactionList'?'':'vHide'">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 header">
                    <label>Transaction</label>
                    <div>
                        <span (click)="showPanel('transactionForm')"><i class="fas fa-plus-circle" ></i></span>
                        <span (click)="backToWelletList()"><i class="fas fa-reply"></i></span>
                    </div>
                </div>
            </div>
            <div class="row transaction">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="my-wellet-icon">
                                <img src="assets/images/flaticon/wallet.png">
                            </div>
                            <div class="detail">
                                <h4 class="card-text">{{welletName}}</h4>
                                <div>
                                    <label>Inflow</label>
                                    <span>500000</span>
                                </div>
                                <div>
                                    <label>Outflow</label>
                                    <span>300000</span>
                                </div>
                                <div>
                                    <label></label>
                                    <span>3000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 transaction">
                    <div class="card">
                        <div class="card-body">
                            <span *ngIf="loading">Loading . . .</span>
                            <span *ngIf="!loading && transactionList.length === 0">No Record . . .</span>
                            <div  *ngIf="!loading && transactionList.length > 0">
                                Data
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--    <app-transaction-form #rowForm="formModalEX" (afterSaved)="afterModalSaved($event)"></app-transaction-form>-->
</div>
<transactionForm *ngIf="currentPanel=='transactionForm'" (back)="backTotransactionList()"></transactionForm>
